In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression

In [9]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\PC\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
data = {
    'Size': [1400, 1600, 1700, 1875, 1100],
    'Bedrooms': [3, 3, 4, 4, 2],
    'Distance': [5, 3, 4, 2, 6],
    'Price': [245000, 312000, 279000, 308000, 199000]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

   Size  Bedrooms  Distance   Price
0  1400         3         5  245000
1  1600         3         3  312000
2  1700         4         4  279000
3  1875         4         2  308000
4  1100         2         6  199000

In [2]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.model_selection import train_test_split

# Load dataset
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(url)

In [3]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [16]:
X = df.drop("medv",axis=1)
y = df["medv"]

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#linear regression
model  = LinearRegression()
model.fit(X_train,y_train)
linear_pred = model.predict(X_test)

# Ridge Model
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
ridge_pred = ridge.predict(X_test)

# Lasso Model
lasso = Lasso(alpha=0.1)
lasso.fit(X_train, y_train)
lasso_pred = lasso.predict(X_test)

# Evaluation
print("Ridge MSE:", mean_squared_error(y_test, ridge_pred))
print("Lasso MSE:", mean_squared_error(y_test, lasso_pred))
print("Linear MSE:", mean_squared_error(y_test, linear_pred))

Ridge MSE: 27.114160120204033
Lasso MSE: 27.65424622403987
Linear MSE: 26.772638978789065

In [17]:
print("Ridge r2:", r2_score(y_test, ridge_pred))
print("Lasso r2:", r2_score(y_test, lasso_pred))
print("Linear r2:", r2_score(y_test, linear_pred))

Ridge r2: 0.7031511297032329
Lasso r2: 0.6972382063791877
Linear r2: 0.7068901415170619