#### Part 1: Data Cleaning

In [2]:
# Libraries
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score

In [3]:
# 1. Load and examine the dataset to understand its structure.
df= pd.read_csv(r"C:\Users\Loryne\Documents\LUXDEVHQ-LoryneJoy\DATA_SCIENCE\MACHINE-LEARNING\Projects_Machine_Learning\HOUSE_PRICE_PREDICTION_PROJECT\property_data.csv")
df.head()

,BedRooms,Bath rooms,Size_sqft,location,year built,Garage Available,Furnishing,House Condition,Has_Pool,Lot Size,Price($)
0,3.0,1.0,1149,Rural,2004,NaN,Unfurnished,new,0.0,0.15,244043
1,NaN,2.0,1169,Rural,1989,1.0,NaN,Old,0.0,0.23,211250
2,4.0,3.0,1409,Suburban,1993,1.0,Unfurnished,gd,0.0,0.19,257239
3,3.0,3.0,1647,Suburban,2021,0.0,NaN,new,0.0,0.27,310316
4,2.0,3.0,1865,Urban,2009,0.0,furnised,old,1.0,0.39,334791

In [ ]:

df.shape

(1000, 11)

In [ ]:
# To show the columns data types
df.dtypes

 BedRooms           float64
Bath rooms          float64
Size_sqft             int64
location             object
year built            int64
Garage Available    float64
Furnishing           object
House Condition      object
Has_Pool            float64
Lot Size            float64
Price($)              int64
dtype: object

In [ ]:
# 2. Clean the column names by removing unnecessary characters or spaces, and make them consistent.
# Clean column names
df.columns = (
    df.columns
    .str.strip()               # remove leading/trailing spaces
    .str.lower()               # make lowercase
    .str.replace(r'[^a-z0-9]+', '_', regex=True)  # replace special chars with underscore
    .str.replace(r'(^_|_$)', '', regex=True)      # remove leading/trailing underscores
)

In [9]:
# Rename cleaned columns
# Print to confirm
print("Cleaned columns:", df.columns.tolist())

Cleaned columns: ['bedrooms', 'bath_rooms', 'size_sqft', 'location', 'year_built', 'garage_available', 'furnishing', 'house_condition', 'has_pool', 'lot_size', 'price']

In [10]:
# 3. Check for missing values in the dataset and decide whether to fill or remove them.
#checking missing values
df.isnull().sum()

bedrooms             46
bath_rooms           59
size_sqft             0
location              0
year_built            0
garage_available    104
furnishing          157
house_condition       0
has_pool             55
lot_size              0
price                 0
dtype: int64

In [ ]:
# summary of data
df.describe()

,bedrooms,bath_rooms,size_sqft,year_built,garage_available,has_pool,lot_size,price
count,954.000000,941.000000,1000.000000,1000.00000,896.000000,945.000000,1000.00000,1000.000000
mean,2.912998,1.989373,1505.170000,2001.59500,0.533482,0.280423,0.25540,277133.174000
std,1.161547,0.836592,391.257815,12.42511,0.499156,0.449444,0.13628,59963.752729
min,1.000000,1.000000,292.000000,1980.00000,0.000000,0.000000,0.00000,87752.000000
25%,2.000000,1.000000,1241.750000,1991.00000,0.000000,0.000000,0.15000,236922.250000
50%,3.000000,2.000000,1500.000000,2002.00000,1.000000,0.000000,0.25000,277263.500000
75%,4.000000,3.000000,1769.000000,2012.00000,1.000000,1.000000,0.35000,317508.250000
max,5.000000,4.000000,2777.000000,2023.00000,1.000000,1.000000,0.76000,481326.000000

In [ ]:
# to fill missing values (bedroom, bathroom, garage, furnishing, has pool)